prospringintegration_src/webservice/ticket-service-marshalling/tickets.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://prospringintegration.com/tk/schemas"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://prospringintegration.com/tk/schemas"
                  targetNamespace="http://prospringintegration.com/tk/schemas">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
               attributeFormDefault="unqualified"
               elementFormDefault="qualified"
               targetNamespace="http://prospringintegration.com/tk/schemas"
               version="1.0">

      <xs:element name="TicketRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="priority" type="priorityType"/>
          </xs:sequence>

        </xs:complexType>
      </xs:element>

      <xs:element name="TicketResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ticket" type="ticketType"/>
          </xs:sequence>
        </xs:complexType>

      </xs:element>

      <xs:complexType name="ticketType">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="issueDateTime" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="priority" type="priorityType"/>
          <xs:element name="ticketId" type="xs:long"/>
        </xs:sequence>

      </xs:complexType>

      <xs:simpleType name="priorityType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="low"/>
          <xs:enumeration value="medium"/>
          <xs:enumeration value="high"/>
          <xs:enumeration value="emergency"/>
        </xs:restriction>

      </xs:simpleType>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="TicketRequest">
    <wsdl:part element="tns:TicketRequest" name="TicketRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TicketResponse">
    <wsdl:part element="tns:TicketResponse" name="TicketResponse">

    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TicketRequest">
    <wsdl:operation name="Ticket">
      <wsdl:input message="tns:TicketRequest" name="TicketRequest">
      </wsdl:input>
      <wsdl:output message="tns:TicketResponse" name="TicketResponse">
      </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="TicketRequestSoap11" type="tns:TicketRequest">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Ticket">
      <soap:operation soapAction=""/>
      <wsdl:input name="TicketRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TicketResponse">

        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketRequestService">
    <wsdl:port binding="tns:TicketRequestSoap11" name="TicketRequestSoap11">
      <soap:address
          location="http://localhost:8080/ticket-service-marshalling-1.0/tickets"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>